<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myLayout" 
            value="${date:format=yyyy-MM-ddTHH\:mm\:ss.ffffzzz} ${uppercase:${level:format=FirstCharacter}} ${callsite} ${message} "/>
  
  <variable name="myExceptionLayout" 
            value="${date:format=yyyy-MM-ddTHH\:mm\:ss.ffffzzz} ${uppercase:${level:format=FirstCharacter}} ${callsite} ${message} ${newline} ${exception:format=tostring} ${newline}"/>

  <!-- enable asp.net core layout renderers -->
  <extensions>
  </extensions>
  
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target name="logfile"
            xsi:type="File" 
            layout="${myLayout}"        
            fileName="${basedir}/logs/${appdomain:format={1\}}.log"
            archiveFileName="${basedir}/archive/${appdomain:format={1\}}.{#}.zip"
            archiveEvery="Day"
            archiveAboveSize="10000000"
            archiveNumbering="DateAndSequence"
            maxArchiveFiles="100"
            enableArchiveFileCompression="true"/>

    <target name="logfileWarning"
          xsi:type="File"
          layout="${myExceptionLayout}"
          fileName="${basedir}/logs/${appdomain:format={1\}}.warning.log"
          archiveFileName="${basedir}/archive/${appdomain:format={1\}}.warning.{#}.zip"
          archiveEvery="Day"
          archiveAboveSize="10000000"
          archiveNumbering="DateAndSequence"
          maxArchiveFiles="100"
          enableArchiveFileCompression="true"/>  

    <target name="logfileError"
            xsi:type="File"
            layout="${myExceptionLayout}"
            fileName="${basedir}/logs/${appdomain:format={1\}}.error.log"
            archiveFileName="${basedir}/archive/${appdomain:format={1\}}.error.{#}.zip"
            archiveEvery="Day"
            archiveAboveSize="10000000"
            archiveNumbering="DateAndSequence"
            maxArchiveFiles="100"
            enableArchiveFileCompression="true"/>
    
    <target name="Console"
            xsi:type="Console"
            layout="${myLayout}"/>
    
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*" minlevel="Trace" writeTo="Console" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Error" writeTo="logfileError" />

    <logger name="Dalesjo*" level="Warn" writeTo="logfileWarning" />
  </rules>
</nlog>
